# 数据库配置
DATABASE_URL="postgresql://postgres:password@localhost:5432/xcpc_oj?schema=public"
# JWT密钥
JWT_SECRET="novajudge-jwt-secret"
# 生产模式
NODE_ENV="production"
# 超级管理员账号密码
SUPER_ADMIN_USERNAME="admin"
SUPER_ADMIN_PASSWORD="123456"
# Go-Judge 接口地址 (默认本地端口)
GO_JUDGE_API="http://localhost:5050"
# 判题并发数限制CPU数量限制
JUDGE_CONCURRENCY=4
# Redis 配置
REDIS_URL="redis://localhost:6379"
# 推流相关
# 服务端地址
NEXT_PUBLIC_CONTROL_SERVER_URL="http://localhost:4000"
# 推流地址
NEXT_PUBLIC_RTSP_BASE_URL="rtsp://localhost:8554"